.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 2%;
  padding-left: 2%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Log-in-panel {
  display: flex;
  flex-direction: column;
}

.Log-in-text {
  align-self: flex-start;
}

.Log-in-input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: 100px;
  font-size: large;
}

.Log-in-button {
  max-width: 400px;
  height: 40px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header-text {
  font-size: medium;
  font-weight: 500;
  text-transform: none;
}

.Loss-net {
  color: red
}

.Profit-net {
  color: green
}

.Account-selector {
  width: 150px;
  height: 30px;
  margin-top: 20px;
}

.Account-selector-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Index-column {
  white-space: nowrap !important;
}

.Position-Table {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Total-Section {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}
